<div class="buffer"></div>
<div class="cd-background-wrapper">
	<figure class="cd-floating-background">
		<img src="assets/backl.png" alt="image-1" class="backy">
		<img src="assets/back3.png" alt="image-5">
		<!-- images here -->
	</figure>
</div>