<div class="container-fluid">
  <div class="row">
    <div class="parallax"></div>
  </div>
  <div class="row">
    <div class="labelbox">
      <h1 id="titlelogo">the holy grALE</h1>
      <p class="texts">Castle Park | Lancaster</p>
      <p class="texts">Real Ale | Less-Than-Awful Food | Grumpy Barstaff</p>
    </div>
  </div>
  <div class="row">
    <div class="parallax"></div>
  </div>
  <div class="row">
    <div class="infobox">
      <p class="texty">Located in downtown Lancaster. The ideal place to find great real ales and artisinal food.</p>
    </div>
  </div>
  <div class="row">
    <div class="parallax2"></div>
  </div>
  <div class="row">
    <div class="infobox">
      <h2>What's On:</h2>
      <% @taps.each do |tap| %>
        <div class="beer texty"><%= tap.name %> | <%= tap.brewery %> | <%= tap.type %> | <%= tap.draft %></div>
      <% end %>
      <p class="texty">Brown Ale | Some Brewery | Cask</p>
      <p class="texty">Pale Ale | Another Brewery | Cask</p>
      <p class="texty">Stout | Beer Place Brewing | Cask</p>
      <p class="texty">Lager | Lager Land | Keg</p>
      <p class="texty">American Pale Ale | America Craft Brewery | Keg</p>
    </div>
  </div>
  <div class="row">
    <div class="parallax3"></div>
  </div>
  <div class="row">
    <div class="infobox">
      <p class="texty">Contact us at +05555555555</p>
    </div>
  </div>
</div>