<h1 class="titlelogo">New Tap</h1>

<div class="row">
  <div class="buff col-xl-2 col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-11 col-xs-1">
        <%= render 'form', tap: @tap %>

        <%= link_to 'Back', taps_path %>
    </div>
</div>
