// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#titlelogo {
    font-family: 'Cinzel', serif;
    color: #9b8755;
    font-size: 2.5em;
}

 footer p {
    font-family: 'Cinzel', serif;
    color: #9b8755; 
 }
 