// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#titlelogo {
    font-family: 'Cinzel', serif;
    color: #9b8755;
    font-size: 2.5em;
}

 footer p {
    font-family: 'Cinzel', serif;
    color: #9b8755; 
 }
 .buffer {
     height: 50px;
 }
 
 .cd-background-wrapper {
  overflow: hidden;
  perspective: 4000px;
}
 
.cd-floating-background {
  transform-style: preserve-3d;
}
 
.cd-floating-background img:first-child {
  transform: translateZ(50px);
}
 
.cd-floating-background img:nth-child(2) {
  transform: translateZ(290px);
}
 
.cd-floating-background img:nth-child(3) {
  transform: translateZ(400px);
}